body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  padding: 0 15px;
}

#add-book,#add-author{
  position: absolute;
    bottom: 0;
    right: 0;
    background-color: #9cd9f1;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px 0 0 0;
}
#add-author{
  top: 0;
  right: 0;
  height: 200px;
  border-radius: 10px 0 0 10px;
}

.field{
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
  text-align: right;
}

input,select{
  border-radius: 4px;
  height: 28px;
  width: 150px;
}

label{
  margin-right: 10px;
  display: block;
  margin-bottom: 5px;
}

button{
  border-radius: 50%;
  font-size: 40px;
  line-height: 40px;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

#book-list, .other-books {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  max-width: 50%;
  /* grid-gap: 10px; */
}
li{
  display: inline-block;
  background: #9cd2b2;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #333;
  line-height: 30px;
  height: 30px;
  margin: 4px;
  cursor: pointer;
}